In [ ]:
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import tensorflow as tf

In [ ]:
model = load_model('churn_model.h5')


with open('onehot_encoder_geography.pkl', 'rb') as f:
    onehot_encoder = pickle.load(f)

with open('label_Encoder_gender.pkl', 'rb') as file:
    label_encoder = pickle.load(file)

    
with open('scalar.pkl', 'rb') as f:
    scalar = pickle.load(f)

In [ ]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 200,
    'HasCrCard': 1,
    'IsActiveMember': 0,
    'EstimatedSalary': 50000
    
}

In [ ]:
geo_encoded = onehot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder.get_feature_names_out(['Geography']))

c:\Users\touqe\anaconda3\envs\ann_env\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [ ]:
input_df = pd.DataFrame([input_data])

In [ ]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,200,1,0,50000

In [ ]:
#encode gender
input_df['Gender'] = label_encoder.transform(input_df['Gender'])    
#drop geography column
input_df = input_df.drop('Geography', axis=1)

In [ ]:
# Combine the encoded geography columns with the original input dataframe
input_df = pd.concat([input_df.reset_index(drop=True), geo_encoded_df.reset_index(drop=True)], axis=1)
input_df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,200,1,0,50000,1.0,0.0,0.0

In [ ]:
# Scaling the input data
input_df_scaled = scalar.transform(input_df)

In [ ]:
input_df_scaled

array([[-5.35985161e-01,  9.13247552e-01,  1.04793593e-01,
        -6.95393486e-01, -2.57807029e-01,  3.42382954e+02,
         6.49202671e-01, -1.02583358e+00, -8.76823700e-01,
         1.00150113e+00, -5.79467227e-01, -5.76388018e-01]])

In [ ]:
model.predict(input_df_scaled)

1/1 [==============================] - 0s 261ms/step

array([[1.]], dtype=float32)

In [ ]:
result = model.predict(input_df_scaled)[0][0]

1/1 [==============================] - 0s 64ms/step

In [ ]:
if result > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is unlikely to churn.")

The customer is likely to churn.